.dash_content
{
    text-align: center;
}
.dash_content table {
    border-collapse: collapse;
    margin: auto;
}  
.dash_content table, th, td {
    border: 1px solid black;
}

.dash_content th {
    height: 50px;
    text-align: center;
}

.wide_table
{
    width: 70%;
}

.narrow_table
{
    width: 30%;
}

.dash_content tr:not(:first-child):hover {background-color: rgb(125, 218, 241);}

.table_container
{
    width:70%;
    overflow: hidden;
    margin: auto;
}

.column
{
    float:left;
}

.table_float_left, .table_float_right
{
    width: 30%;
}

.table_space_centre
{
    width: 10%;
}


.table_float_left .narrow_table,
.table_float_right .narrow_table
{
    width: 100%;
}


.float_clear {
    clear: both;
}