.dash_content
{
    text-align: center;
}
.dash_content table {
    border-collapse: collapse;
    margin: auto;
}  
.dash_content table, th, td {
    border: 1px solid black;
}

.dash_content th {
    height: 50px;
    text-align: center;
}

.wide_table
{
    width: 60%;
}

.narrow_table
{
    width: 30%;
}

.dash_content tr:not(:first-child):hover {background-color: rgb(125, 218, 241);}

.wide_table td:hover::after, .wide_table th:hover::after {
  content: "";
  position: absolute;
  background-color: rgb(125, 218, 241);
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}