.dash_content
{
    text-align: center;
}
.dash_content table {
    border-collapse: collapse;
    margin: auto;
}  
.dash_content table, th, td {
    border: 1px solid black;
}

.dash_content th {
    height: 50px;
    text-align: center;
}

.wide_table
{
    width: 70%;
}

.narrow_table
{
    width: 30%;
}

.dash_content tr:not(:first-child):hover {background-color: rgb(125, 218, 241);}

.table_container
{
    width:100%;
    overflow: hidden;
}

.table_float_left
{
    float: left;
    width: 50%;
}

.table_float_left .narrow_table
{
    width: 60%;
}
.table_float_right .narrow_table
{
    width: 60%;
}

.table_float_right
{
    float: right;
    width: 50%;
}

.float_clear {
    clear: both;
}